body{
    background: linear-gradient(to right, #feeba9, #1f1f98);
 }

 #mens{
     font-family: serif;
     font-size: 4vh;
     text-align: center;
     padding: 3vh;
 }

 #firma{
     font-family: system-ui;
     font-size: 3vh;
     text-align: right;
     font-weight: bold;
     padding: 50px;
     color: #830e0e;
 }

 .cont{
     display: flex;
     flex-direction: row;
     width: 100%;
 }

 .condol
 {
     font-size: 3vh;
     font-family: "Times New Roman", Times, serif;
     color: white;
     padding: 0 0 20px;
 }

 .contmens{
     padding: 4vh;

 }

 .datos, .contmens {
     width: 50%;
 }

 .foto{
     text-align: center;
 }

 .pict{
     height: 44vh;
     box-shadow: 0px 0px 30px #1e0b71;
     border-radius: 20px;
 }

 .nombre{
     text-align: center;
     font-family: system-ui;
     font-size: 5vh;
     font-weight: bold;
     padding: 20px 0 20px;
 }

 .fechas{
     text-align: center;
     font-family: "Times New Roman", Times, serif;
     font-size: 4vh;
     padding: 20px 0 20px;
 }

 .contlogo{
     position: absolute;
     bottom: 0;
     left: 0;
 }

 .fndmens{
     background-color: rgba(255,255,255,0.6);
     border-radius: 20px;
 }